.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr) ;
  grid-auto-rows: auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .75rem;
}

.header {
  grid-column: 1 / 12;
}

.barcodeApp {
  grid-column: 1 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr)
  grid-auto-rows: auto;
}

.barcodeType {
  grid-column: 1 / 12;
  width: 200px;
}

.barcodeTextList {
  grid-column: : 1 / 12;
}

.buttons {
  grid-column: 1 / 12;
}

.barcodeList {
  grid-column: 1/ 12;
  display: grid;

}

.barcode {
  width: auto;
}

.footer {
  grid-column: 1 / 12;
}
